.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadBTN{
    margin-top: 10px;
}
.itemLBL{
    font-size: 10pt;
    padding-left: 5px;
    height: 30vw;
}
.itemIMG{
    width: 36vw;
    height: 27vw;
}

.item{
    padding: 1px;
}

.fabBTN{
    height: 30px;
    width: 30px;
}
