// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.alert 
.alert-wrapper {
     
    .alert-title {
      text-align: center;
    }
    .alert-sub-title {
      text-align: center;
    }
  
    .alert-message {
      text-align: center;
    }
  
    .alert-button-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
  }